<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
<!--  //In list-jobs.html, create a loop to display each job passed in from the controller.-->
<!--  The job data should be presented in tables, with each job in its own table.-->
<!--  Be sure to check in ListController to find the variable names available to the template.-->


<!--<div th:each="job : ${jobs}">-->
    <div th:fragment="job-listing">
<!--        job-listing-->
    <table class="job-listing" th:each="job : ${jobs}">
    <tr>
      <td>ID</td>
      <td th:text="${job.id}"></td>
    </tr>
    <tr>
    <td>Name</td>
    <td th:text="${job.name}"></td>
    </tr>
    <tr>
      <td>Employer</td>
      <td th:text="${job.employer}"></td>
    </tr>
    <tr>
      <td>Location</td>
      <td th:text="${job.location}"></td>
    </tr>
    <tr>
      <td>Position Type</td>
      <td th:text="${job.positionType}"></td>
    </tr>
    <tr>
      <td>Skill</td>
      <td th:text="${job.coreCompetency}"></td>
    </tr>
  </table>
</div>
</div>
</body>
</html>